<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    /* 浏览器默认样式
        默认样式存在会影响到页面布局，通常情况下编写网页时必须去除默认样式（pc端）
     */

    /* 去除浏览器所有默认样式两种方法：
    1.*{}
    2.引入提供好的css去除默认样式（link）
     */

    *{
        margin: 0;
        padding: 0;
    }

     ul{
         /* 去掉前面的点（项目符号） */
         list-style: none;
     }
        


</style>

    
</head>
<body>
    <ul>
        <li></li>
    </ul>
</body>
</html>