<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width:200px;
            height: 200px;
            background-color: brown;

            /* 
            边框(border)：三个参数
            border-width：边框的宽度
            border-color：
            border-style：边框的样式:实现虚线
            边框大小会影响盒子的大小

            其余建盒模型.html
             */
             border-width: 10px;
            border-color: blue;
            border-style: solid;

        }
    </style>
</head>
<body>
    <div class="box1"></div>
</body>
</html>