<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* 内容不支持设置高度宽度
         padding可以设置，但是垂直方向的padding不会影响到布局，可以盖住，但不会挤别的
        border也是可以设置，但是垂直方向不影响布局
        margin也是可以设置，垂直方向不影响布局
        */

        /* display元素显示的类型：块元素或行内元素
        属性有以下几个：
        inline：行内元素
        block：块元素
        inline-block:行内块元素，既可以设置宽度和高度又不会独占一行（少用，尽量不用）
        table：元素设置为表格
        none：元素不在页面中显示,位置不占
        */

        /* visibility用来设置元素的显示状态
                    可选值：
                        visible 默认值，元素在页面中正常显示
                        hidden  不显示，但是位置依然占据
            visibility: hidden;
                        */
        
    </style>
</head>
<body>
    
</body>
</html>